.wrapper {
  display: flex;
  width: 100vw;
  padding: 8rem 2rem;
  height: 100vh;
  background-color: var(--dark-blue500);
  .controls {
    width: 8rem;
    margin-right: 1rem;
  }
  .display {
    flex: 1;
    height: 24rem;
    border: 4px solid green;
    border-radius: 10px;
    overflow-y: auto;
    background-color: var(--silver);
    &.hide {
      flex: 0;
      display: none;
    }
  }
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem;
  height: 100vh;
  background-color: var(--dark-blue500);
  .loading {
    font-family: "Bangers", cursive;
    color: var(--isabelline);
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    .display {
      height: 34rem;
    }
  }
}
