.wrapper {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    margin-top: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 8rem;
    height: 1.5rem;
    div {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--isabelline);
      &.active {
        background-color: var(--dark-sienna);
      }
    }
  }
}
