.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  .gridContainer {
    display: flex;
    .grid {
      padding-left: 4rem;
      padding-top: 2rem;
      font-size: 32px;
      background-color: black;
      color: #00ff41;
    }
    .status {
      width: 8rem;
      margin-right: 1rem;
      margin-top: 1rem;
      .verify,
      .reset {
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        background-color: var(--dark-sienna);
        color: var(--app-orange);
        text-transform: uppercase;
        cursor: pointer;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .gameStatus {
        margin-top: 2rem;
        font-size: 16px;
        text-transform: uppercase;
        span {
          display: block;
          margin: 1rem 0;
        }
      }
    }
  }
  .puzzleCell {
    cursor: pointer;
    &:hover {
      color: var(--orange-web);
    }
    span {
      display: block;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    .gridContainer {
      .grid {
        > div {
          height: 600px !important;
        }
      }
    }
  }
}
