@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Nunito:wght@400;700&display=swap");
/* minimal css reset from DigitalOcean */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* color palette */

:root {
  --dark-blue200: #22223bff;
  --dark-blue500: #03071eff;
  --dark-sienna: #670617ff;
  --dark-red: #9d0208ff;
  --app-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --app-yellow: #ffba08ff;
  --app-gray: #9a8c98ff;
  --silver: #888;
  --isabelline: #f2e9e4ff;
}
.wrapper {
  position: relative;
}
.header {
  margin-bottom: 0.5rem;
  background-color: var(--dark-blue500);
  position: fixed;
  z-index: 1;
  font-family: "Bangers", cursive;
  color: var(--app-orange);
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
