.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  .commandItem {
    width: 100%;
    background-color: var(--dark-sienna);
    color: var(--app-orange);
    margin: 2px;
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.25s ease-in-out;
    &:hover {
      background-color: var(--dark-red);
      transform: scale(1.1);
    }
  }
  .levels {
    position: absolute;
    width: 12rem;
    left: 6rem;
    top: 4rem;
    background-color: var(--dark-blue500);
    transition: visibility 0.6s ease-in-out, opacity 0.15s ease-in-out;
    visibility: hidden;
    pointer-events: none;
    color: var(--app-orange);
    opacity: 0;
    &.active {
      visibility: visible;
      display: block;
      opacity: 1;
      pointer-events: all;
    }
    .levelItem {
      padding: 0.5rem;
      border: 1px solid var(--dark-blue200);
      &:hover {
        background-color: var(--app-gray);
        cursor: pointer;
      }
    }
  }
}
